html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {
    font-family: "Alegreya+Sans";
  }

  .page1 {
 


    .header1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    } .header1__nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: #ebebeb;
        margin-left: 15%;
        
    } a {
        text-decoration: none;
        color: #232323;
        font-weight: bold;
        
    }
} 

.containerimage1 {
    background-image: url("/img/greenbackground.jpg");
    height: 600px;
    margin-top: 10%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: #ffffff;
        font-size: 40px;

       strong {
        color: #ebebeb;
        font-weight: bold;
        text-decoration: underline #54be90

        }
    }  h2 {
        color: #ffffff;
        font-size: 35px;
        margin-top: 0%;
    }
}

.page2 {
    display: flex;
    flex-direction: column;

.page2block {
height: 30%;
width: 100%;
}
  .block__head {
background-color: forestgreen;
padding: 10%;
margin-top: 0%;
 } .block__middle {
    padding: 10%;
 }  h3 {
    font-weight: lighter;
    font-size: 35px;
 } 

 .block__bottom {
    background-color: #232323;
    padding: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 } .block__bottom__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -22%;
 } h1 {
    background-color: #ffffff;
    height: 150px;
    width: 150px;
    border-radius: 50%;
 } h2 {
    color: #54be90;
    font-size: 30px;
 } p {
    color: #ffffff;
    text-align: center;
    margin-top: 0%;
    font-size: 20px;
 }
}
